.hercules_container {
    min-width: 300px;
    max-width: 400px;
    background-color: #FFFFFF;
    padding: 4px 8px 4px 12px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 35%) 2px 4px 6px;
    display: block;
}

.yt_ai_summary_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.yt_ai_header_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.yt_ai_summary_loading {
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.hercules_header_action_btn {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50%;
}

.yt_ai_header_hover_label {
    position: relative;
    top: 6px;
    left: -35px;
    padding: 5px 8px;
    background-color: #030303;
    color: white;
    width: fit-content;
    border-radius: 3px;
    opacity: 0.85;
    white-space: nowrap;
    font-size: 11px;
    text-align: center;
    user-select: none;
}

.yt_ai_summary_icon:hover {
    background: rgb(32 225 86 / 30%) !important;
}

.yt_ai_summary_icon:active {
    background: rgb(32 225 86 / 60%) !important;
}

.hercules_header_action_btn:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

.hercules_header_action_btn:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

.yt_ai_summary_header_icon_show {
    /* visibility: visible !important; */
    display: block !important;
}

.yt_ai_header_toggle_rotate {
    transform: rotate(180deg);
}

.yt_ai_summary_body {
    display: none;
    overflow: scroll;
    margin: 4px 0;
    padding-top: 8px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.yt_ai_summary_body_show {
    display: block;
}

.hercules_text {
    padding: 12px;
    font-size: 16px;
    line-height: 1.4em;
}

.hercules_lang_select {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    overflow: scroll;
    padding-bottom: 8px;
}

.hercules_lang_select button {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 24px;
    padding: 8px 12px;
    border: 0.3px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
    white-space: nowrap;
    min-width: fit-content;
    cursor: pointer;
    user-select: none;
}

.hercules_lang_select button:hover {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
}

.yt_ai_summary_lange_selected {
    background-color: #030303 !important;
    color: white;
}

.transcript_text_segment {
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 0;
    margin: 0 0 16px;
    grid-template-columns: auto auto;
}

.hercules_transcript_text_timestamp {
    color:#065fd4;
    text-decoration: none;
    cursor: pointer;
    margin-left: 16px;
}

.hercules_transcript_text {
    font-size: 16x;
}

.hercules_transcript_text div {
    margin-bottom: 10px;
}

.hover {
    color: #042e65;
    font-weight: bolder;
}

.onair {
    color: #20497f;
}

.translation {
    margin-top: 10px;
    font-size: 16px;
}

.translation-text {
    margin-top: 10px;
    font-size: 16px;
    color: #353535;
}

.gramma-text {
    margin-top: 10px;
    font-size: 16px;
    color: #353535;

}

.keywords-text {
    margin-top: 10px;
    font-size: 16px;
    color: #353535;

}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    text-align: center;
    color: #20497f;
}

.hercules-button {  
    background:rgba(255, 255, 255, 0.0);
    border: none;
    color: #4d4d4d;
    margin-top: 10px;
    border-radius: 8px;
}

.hercules-button:hover {
    cursor: pointer;
}

#popup{
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #030303;
    color: white;
    width: fit-content;
    max-width: 200px;
    height: fit-content;
    border-radius: 3px;
    opacity: 0.85;
    white-space: normal;
    font-size: 14px;
    text-align: left;
    user-select: none;
}

#popup h3 {
    margin-bottom: 20px;
}

#popup li {
    margin-bottom: 10px;
}

.yt_ai_header_actions :hover{
    cursor: pointer;
}

#hercules_bar {
    display: flex;
    position: fixed;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 35%) 2px 4px 6px;
    background-color: #000;
    color: #808080;
    width: 500px;
    height: 30px;
    left: 28%;
    top: 10px;
    transform: translateX(-28%);
    padding: 10px 20px;
}

#hercules_input {
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    background: black;
    border-bottom: 1px solid black;
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #hercules_input::placeholder {
    color: rgb(183, 183, 183);
  }

  #hercules_bar svg {
    width: 10%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hercules_bar svg:hover {
    cursor: pointer;
  }

  #hercules-submit {
    margin-top: 5px;
  }


.hercules_lang_select::-webkit-scrollbar {
    display: none;
}
  /* 针对Webkit浏览器如Chrome和Safari */
.hercules_text::-webkit-scrollbar {
    display: none;
}
  
.yt_ai_header_text {
    background: none;
}